<h1>Welcome to your Dashboard :: <%= @business.company_name %></h1>

<h5><%= link_to "Create New Deal", new_offer_path %></h5>
<div style="height:210px; padding-left:20px; background-color: #ddd; line-height:16pt;">
Impressions: <%= @impressions.flatten.size %><br />
Clicks: <%= @clicks.flatten.size %><br />
Conversions: <%= @conversions.flatten.size %><br/>
Conv./Click: <%= (Conversion.conv_per_click(@clicks.flatten.size, @conversions.flatten.size)).round(2) %><br/>
Click Thru: <%= (@clicks.flatten.size.to_f / @impressions.flatten.size).round(2) %><br />
Ave. Time: <br />
Total Revenue: <%= (@revenue.inject{|sum,x| sum + x }) * @conversions.flatten.size %><br />
Ave. Revenue/ Deal: <%= ((@revenue.inject{|sum,x| sum + x }) * @conversions.flatten.size) / @offers.count %><br />
Total Deals: <%= @offers.count %><br/ >
Followers: <%= @business.customers.length %><br />
</div>


<table>
    <tr>
    	<td>Offer</td>
    	<td>Impressions</td>
    	<td>Unique Impressions</td>
    	<td>Clicks</td>
        <td>Conversions</td>
        <td>Conv./Click</td>
        <td>Click Thru</td>
        <td>Ave. Time</td>
        <td>Total Revenue</td>


    </tr>
<% i = 0 %>
<% @offers.each do |offer| %>
    <tr>
    	<td><a href="<%= offer_path(offer) %>"><%= offer.product %></a></td>
    	<td><%= @impressions[i].size %></td>
    	<td><%= @impressions[i].map(&:user_id).uniq.size %></td>
		<td><%= @clicks[i].size %></td>
        <td><%= @conversions[i].size %></td>
        <td><%= (@conversions[i].conv_per_click @conversions[i].size, @clicks[i].size).round(2) %></td>
        <td><%= (@clicks[i].size.to_f / @impressions[i].size).round(2) %></td>
        <td>James</td>
        <td><%= (@revenue[i]) * @conversions[i].size %></td>
    <% i += 1 %>
  </tr>
  </div>
<% end %>
