<h1>Welcome to your Dashboard :: <%= @business.company_name %></h1>

<div style="height:200px; padding:20px; background-color: #ddd;">
Total Impressions: <%= @impressions.flatten.size %>
</div>


<table>
    <tr>
    	<td>Offer</td>
    	<td>Impressions</td>
    	<td>Unique Impressions</td>

    </tr>
<% i = 0 %>
<% @offers.each do |offer| %>
    <tr>
    	<td><a href="<%= offer_path(offer) %>"><%= offer.product %></a></td>
    	<td><%= @impressions[i].size %></td>
    	<td><%= @impressions[i].map(&:user_id).uniq.size %></td>
    	
<% i += 1 %>
			

  </tr>
  </div>
<% end %>
