<div class="container">
<div id="splash_left">
  <img src="assets/left1.png" width="470" height="430" class="splash_image" />
</div>

<div id="signup">
<%= simple_form_for(@business, :as => :business, :url => discover_path) do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <h1 class="signup_title">Sign Up</h1>
    <%= f.input :email, :required => true, :autofocus => true, placeholder: 'Email', label: false %>
    <%= f.input :password, :required => true, placeholder: 'Password', label: false %>
    <%= f.input :password_confirmation, :required => true, placeholder: 'Confirm Password', label: false %>
      <%= f.input :company_name, required: true, placeholder: 'Company Name', label: false %>
      <% Category.all.each do |category| %>
        <%= f.label :category_id, category.name, value: category.id %>
        <%= f.radio_button :category_id, category.id %>
      <% end %>
    <%= f.button :submit, "Sign up" %>
  </fieldset>
<% end %>

</div>
</div>