.edit_profile
  %h4
    Edit #{resource_name.to_s.humanize} Profile
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
    = f.error_notification
    =f.label 'Profile picture'
    - if @user.avatar.exists?
      = image_tag @user.avatar.url(:thumb), class: 'uploaded-avatar'
    .form-inputs
      %div= f.file_field :avatar
      = f.input :email, :required => true, :autofocus => true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %small
        Leave the following two fields blank if you don't wish to change your password:
      = f.input :password, :autocomplete => "off", :required => false
      = f.input :password_confirmation, :required => false
      %small
        We need your current password to confirm your changes:
      = f.input :current_password, :required => true
    .form-actions
      = f.button :submit, "Update"
  .line 
  = link_to "Back", :back
  %p
  %small
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
