 <div class="offer_container"> 
  <div class="offer_card">  
    <div id="card_preview">
      <div id="actual_card_div">
        <div id="card_background">
          <div id="time_bar">
            <div id='elapsed_bar'></div>
            <div id="actual_time_bar"></div>
          </div>
          <div id="offer_image_placeholder"></div>
          <div id="offer_logo_name_price">
            <div id="logo_preview">
              <% if @time_window.offer.avatar.exists? %>
                <%= image_tag @time_window.offer.business.avatar.url(:thumb), :class => 'business_avatar_preview' %>
              <% end %>
            </div>
            <div id="company_name_preview"><h4><%= @offer.business.company_name %></h4></div>
            <div id="price_review_buy"><h4><strong><%= number_to_currency(@time_window.offer.price, unit: '£') %></strong></h4></div>
          </div>
          <div id="product_profile">
            <div id="product_name_and_time">
              <div id="product_name"><%= @time_window.offer.product %></div>
              <div class="time_remaining" id="product_time"><%= (@time_window.end_time - Time.now).to_i %>s</div>
            </div>
            <div id="product_description"><%= @time_window.offer.product_description %></div>
            <div id="buy_now_button">
              <%= render 'stripe_button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>