<div id ="new_page">
  <h1>Edit Deal</h1>
<div id="new_deal">
  <%= form_for @offer do |f| %>
    <% if @offer.avatar.exists? %>
      <%= image_tag @offer.avatar.url(:large), class: 'uploaded-offer-photo' %>
    <% end %>
    <p>
      <%= f.file_field :avatar %>
      <br/>
    </p>
    <% if @offer.teaser.exists? %>
      <%= image_tag @offer.teaser.url(:large) %>
    <% end %>
    <p>
      <%= f.file_field :teaser %>
      <br/>
    </p>
    <p>
      <%= f.text_field :product, { ng_model: 'product', placeholder: 'Product (Required)', ng_init: "product='#{ @offer.product }'" } %>
    </p>
    <p>
      <%= f.text_area :product_description, { ng_model: 'product_description', placeholder: 'Description (Required)', ng_init: "product_description='#{ @offer.product_description }'" } %>
    </p>
    <p>
      <%= f.number_field :price, { ng_model: 'price', placeholder: 'Price (Required)', ng_init: "price=#{ @offer.price }" } %>
    </p>
    <p>
      <%= f.number_field :RRP, { ng_model: 'RRP', placeholder: 'RRP (Required)', ng_init: "RRP=#{ @offer.RRP }" } %>
    </p>
    <p>
      <%= f.number_field(:users_time_availablity, { ng_model: 'time', min: 30, max: 120, step: 1, placeholder: 'Customer Time Window (seconds)', ng_init: "time=#{ @offer.users_time_availablity }" }) %>
    </p>
    <p>
      <%= f.label :available_from, "When should the offer be available from?", ng_init: "available_from=#{ @offer.available_from }" %>
      <%= f.date_field(:available_from) %>
    </p>
    <p>
      <%= f.label :available_to, "When should the offer stop being available?", ng_init: "available_to=#{ @offer.available_to }" %>
      <%= f.date_field(:available_to) %>
    </p>
    <p>
      <%= f.submit "Edit Offer" %>
  <% end %>
</div>

<div id="card_preview">
  <div id="actual_card_div">
    <div id="card_background">
      <div id="time_bar">
        <div id="actual_time_bar">
        </div>
      </div>
        <div id="offer_image_placeholder">
        </div>
        <div id="offer_logo_name_price">
          <div id="logo_preview">
              <%= image_tag current_user.avatar.url(:tiny), :class => 'business_avatar_preview' %>
          </div>
          <div id="company_name_preview">
            <h4><%= @offer.business.company_name %></h4>
          </div>
          <div id="price_review_buy">
            <h4><strong>£{{ price }}</strong></h4>
          </div>
        </div>
        <div id="product_profile">
          <div id="product_name_and_time">
            <div id="product_name">
              {{ product }}
            </div>
            <div id="product_time">
              {{ time }}s
            </div>
          </div>
          <div id="product_description">
            {{ product_description }}
          </div>
          <div id="buy_now_button">
            <a href="#">Buy Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
  <div id="new_card_footer">
    <%= link_to 'Back', :back %>
  </div>
</div>