- if current_customer

  %h2
    Please select from the categories below

  = form_for current_customer do |f|
    - Category.all.each do |category|
      = f.label :category_id, category.name, for: "category_#{category.id}"
      = check_box_tag "category_ids[]", category.id, already_checked?(category.id), { id: "category_#{category.id}", onclick: "this.form.submit();", type: "checkbox" }
                                                               


  - @businesses.each do |business|
    - if current_customer.category_ids.include? business.category_id
      = business.company_name
      - unless business.customers.include?(current_user)
        = button_to 'Follow', follow_business_path(business)
      - else
        = button_to 'Unfollow', follow_business_path(business)
      = business.customers.length



%h1 
  Available Offers
- @offers.each do |offer|
  = render partial: "offer", locals: { offer: offer }

= render partial: "new_offer"
