<% if current_customer %>

	<button class="show-preferences"><i class="fa fa-cog"></i>&nbsp;&nbsp;Preferences</button>
	<div class="preferences">
		<p>Please select from the categories below</p>
		<%= form_for current_customer do |f| %>
	    <% Category.all.each do |category| %>
	      <%= check_box_tag "category_ids[]", category.id, already_checked?(category.id), { id: "category_#{category.id}", type: "checkbox", :class => 'submittable' } %>
	      <%= f.label :category_id, category.name, for: "category_#{category.id}" %>
	        <br></br>
	    <% end %>
		<% end %>

		<div class="businesses">
			<% @businesses.each do |business| %>
				<div class="business">
					<% if current_customer.category_ids.include? business.category_id %>
						<span class="follower_count">
							<%= business.customers.length %>
						</span>
						<div id="name_and_follow">
							<div id="avatar_for_follow">
								<img src="/assets/offer_test/nike_logo.png" class="follow_avatar">
							</div>
							<div id="name_for_follow">
								<%= business.company_name %>
							</div>
							<div id="follow_for_follow">
							<button class="follow" data-id="<%= business.id %>" data-customer="<%=current_customer.id %>">
								<% if current_customer.businesses.include?(business) %>
									Unfollow
									<!-- <div id="follow_button_for_follow"><i class="fa fa-minus-square fa-3x awesome_unfollow"></i></div> -->
								<% else %>
									Follow
									<!-- <div id="follow_button_for_follow"><i class="fa fa-plus-square-o fa-3x awesome_follow"></i></div> -->
								<% end %>
							</button>
						</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>	


	<div class="offer_container" id="container">

		<section class="offer_list stream" id="stream">
			<div class="available_offers">
			</div>
		</section>
	</div>

<div id="container">
<div id="stream">
<!-- 
<div id="offer_card">
	<div id="feed_avatarar_name_time">
		<div id="offer_owner_name_time">
			Nike<br />
			<small>about 12 minutes ago</small>
		</div>
		<div id="offer_owner_avatar"><img src="/assets/offer_test/nike_logo.png" class="feed_avatar"></div>
	</div>
	<div id="small_offer_card_background">
		<div id="small_offer_image"></div>
		<div id="small_offer_info">
			<div id="small_offer_name_time"><h4></h4></div>
			<div id="small_offer_see_offer"><h4>See Offer &raquo;</h4></div>
		</div>
	</div>
</div>

<div id="offer_card">
	<div id="avatar_name_time">
		<div id="offer_owner_name_time">
			Superdry<br />
			<small>about 1 hour ago</small>
		</div>
		<div id="offer_owner_avatar"><img src="/assets/offer_test/superdry_avatar.png" class="feed_avatar"></div>
	</div>
	<div id="small_offer_card_background">
		<div id="small_offer_image2"></div>
		<div id="small_offer_info">
			<div id="small_offer_name_time"><h4></h4></div>
			<div id="small_offer_see_offer"><h4>See Offer &raquo;</h4></div>
		</div>
	</div>
</div> -->

<!-- <div id="offer_card">
	<div id="avatar_name_time">
		<div id="offer_owner_name_time">
			Adidas<br />
			<small>about 1 day ago</small>
		</div>
		<div id="offer_owner_avatar"><img src="/assets/offer_test/adidas_avatar.png" class="feed_avatar"></div>
	</div>	
	<div id="small_offer_card_background">
		<div id="small_offer_image3"></div>
		<div id="small_offer_info">
			<div id="small_offer_name_time"><h4></h4></div>
			<div id="small_offer_see_offer"><h4>See Offer &raquo;</h4></div>
		</div>
	</div>
</div> -->

</div>
</div>

<% end %>

<script id="stream-offer" type="text/html">
	<div id="offer_card">
	  <div id="avatar_name_time">
	    <div id="offer_owner_name_time"> 
	      {{company_name}} <br />
	      <small>{{created_at}}</small>
	    </div>
	    <div id="offer_owner_avatar"><img src="/assets/offer_test/nike_logo.png" class="feed_avatar"></div>
	  </div>
	  <div id="small_offer_card_background">
	    <div id="small_offer_image"></div>
	    <div id="small_offer_info">
	      <div id="small_offer_name_time"><h4></h4></div>
	      <div id="small_offer_see_offer"><h4><a href="{{offer_path}}" data-method="post" data-offer-id="{{id}}">See Offer</a> &raquo;</h4></div>
	    </div>
	  </div>
	</div>
</script>


