%h1 Create New Deal
= form_for @offer do |f|

	%p
		= f.label :product, "Product (Required)"
		%br
		= f.text_field :product
		%br
	%p
		= f.label :product_description, "Description (Required)"
		%br
		= f.text_field :product_description
		%br
	%p
		= f.label :price, "Price (Required)"
		%br
		= f.number_field :price 
		%br
	%p
		= f.label :users_time_availablity, "How long should customers get to buy the item? (in seconds)"
		%br
		= f.number_field(:users_time_availablity, options={min: 30})
		%br
	%p
		= f.submit "Activate Offer"
		%br

		%div
			{{ product }}
			%br
			{{ product_description }}
			%br
			{{ price }}
			%br
			{{ time }}

= link_to 'Back', :back