%h1 Create New Deal
= form_for @offer do |f|

	.container
		%p
			= f.label :product
			%br
			= f.text_field :product, {"ng-model" => "product"}
			%br
		%p
			= f.label :product_description, "Description"
			%br
			= f.text_field :product_description, {"ng-model" => "product_description"}
			%br
		%p
			= f.label :price
			%br
			= f.number_field :price, {"ng-model" => "price"}
			%br
		%p
			= f.label :users_time_availablity, "How long should customers get to buy the item? (in seconds)"
			%br
			= f.number_field :users_time_availablity, {"ng-model" => "time"}
			%br
		%p
			= f.submit "Initiate Offer"
			%br
		%div
			{{ product }}
			%br
			{{ product_description }}
			%br
			{{ price }}
			%br
			{{ time }}

= link_to 'Back', :back