%h1 Create New Deal
= form_for @offer do |f|

	- if @offer.avatar.exists?
		= image_tag @offer.avatar.url(:large), class: 'uploaded-offer-photo'
	%p
		= f.file_field :avatar
		%br
	%p
		= f.label :product, "Product (Required)"
		%br
		= f.text_field :product, { ng_model: 'product' }
		%br
	%p
		= f.label :product_description, "Description (Required)"
		%br
		= f.text_field :product_description, { ng_model: 'product_description' }
		%br
	%p
		= f.label :price, "Price (Required)"
		%br
		= f.number_field :price, { ng_model: 'price' }
		%br
	%p
		= f.label :users_time_availablity, "How long should customers get to buy the item? (in seconds)"
		%br
		= f.number_field(:users_time_availablity, { ng_model: 'time', min: 30, max: 120, step: 1 })
		%br
	%p
		= f.label :available_from, "When should the offer be available from?"
		%br
		= f.date_field(:available_from)
		%br
	%p
		= f.label :available_to, "When should the offer stop being available?"
		%br
		= f.date_field(:available_to)
		%br
	%p
		= f.submit "Activate Offer"
		%br

		%div
			{{ product }}
			%br
			{{ product_description }}
			%br
			{{ price }}
			%br
			{{ time }}

= link_to 'Back', :back