%nav.top-bar{"data-topbar" => ""}
  .home_top_width 
    %ul.title-area
      %li.name
        %h1
          %a{:href => "/"} PINCH
    %section.top-bar-section
      %div
        %ul.right
          - if user_signed_in?
            %li
              = link_to 'Participating Businesses', discover_path
            %li
              = link_to 'Sign Out', destroy_user_session_path, method: :delete
            %li
              - if current_user.avatar.exists?
                = image_tag current_user.avatar.url(:tiny)
              - if current_user.provider == "facebook"
                .fbpic
                  %img{:src => "https://graph.facebook.com/#{current_customer.uid}/picture?width=40&height=40"}
          - else
            %ul
              %li.active
                = link_to 'Login', new_user_session_path