<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>


  </head>

  <body cz-shortcut-listen="true">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">My Site</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">

          <%= render 'layouts/login' %>

        </ul>

        <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
        </ul>
      </section>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "waypoints.min.js" %>
    <%= javascript_include_tag "jquery.inview.js" %>



  </body>
</html>